{% extends 'chat/chat_base.html' %}
{% load i18n %}
<!-- chat/templates/chat/index.html -->

{% block people_container %}
    <div class="">
{#    it was inbox_people#}
          <div class="">
{#          it was headind_srch#}
            <div class="recent_heading">
              <h4>{% trans 'People' %}</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="{% trans 'Search' %}" >
            </div>
          </div>
          <div class="inbox_chat">
          {% for user in users %}
            <a href="{% url 'mainapp:chat:room' user=user.id %}">
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                    <img src="https://picsum.photos/seed/{{ user.id }}/200/200" class="img-fluid mx-auto rounded-circle"  alt="">
                </div>
                <div class="chat_ib">
                  <h4 id="sender_{{ user.id }}">{{ user }}</h4>
                  <div>
                  <span id="last_sender">
                      {% if user.last_sender == request.user.first_name %}
                        {% trans 'You' %}:
                      {% else %}
                          {% if user.last_message_read_by < 2 %}
                              <span style="background-color: #89ff3e; font-size: 15px; border-radius: 50%; width: 25px; display: inline-block; vertical-align: middle; text-align:center">&#9055;</span>
                          {% endif %}
                        {{ user.last_sender|default:"" }}:
                      {% endif %}
                  </span>&nbsp;
                  <span id="last_message_{{ user.id }}">{{ user.last_message|default:"" }}</span>
                  </div>
                </div>
              </div>
            </div>
              </a>
          {% endfor %}
          </div>
        </div>
    </div>

    <script>
    // notificationSocket set in navsection.html
    notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if ({{ request.user.id }} == data.for) {
            $('.chat_badge').html('Nachricht vorhanden');
            const element = $(`span#last_message_${data.sender}`);
            element.text(data.message);

            let sender = $(`#sender_${data.sender}`).text();
            $('#last_sender').text(sender + ':');

{#            const ele = `<span class="chat_badge">Nachricht vorhanden</span>`;#}
{#            console.log(element.parent());#}
{#            if (element.parent()) {#}
{#                element.parent().append(ele)#}
{#            }#}
        }
    };
    </script>
{% endblock %}
