{% extends 'base/index.html' %}

{% load static %}
{% load i18n %}

{% block vendorcss %}
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/file-uploaders/dropzone.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css' %}">
    <!-- END: Vendor CSS-->
{% endblock %}

{% block pagecss %}

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/file-uploaders/dropzone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/data-list-view.css' %}">
    <!-- END: Page CSS-->

{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <a href="{% url 'mainapp:new:export_xls' %}">
                        <button class="btn btn-primary">{% trans 'Export' %}</button>
                    </a>
                </div>
                <div class="col-lg-5 col-md-12">
                    <form action="{% url 'mainapp:new:import_xls' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="custom-file col-lg-8">
                                    <input type="file" class="custom-file-input" name="xls_file" required>
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-primary">{% trans 'Import' %}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- Data list view starts -->
            <section id="data-list-view" class="data-list-view-header">

                <!-- DataTable starts -->
                <div class="table-responsive">
                    <table class="table data-list-view">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>{% trans 'FIRST NAME' %}</th>
                            <th>{% trans 'LAST NAME' %}</th>
                            <th>{% trans 'STREET' %}</th>
                            <th>{% trans 'POSTCODE' %}</th>
                            <th>{% trans 'PLACE' %}</th>
                            <th>{% trans 'EMAIL' %}</th>
                            <th>{% trans 'PHONE' %}</th>
                            <th>{% trans 'BIRTHDAY' %}</th>
                            <th>{% trans 'ACTION' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td class="product-name">{{ customer.id }}</td>
                                <td class="product-name"><a
                                        href="{% url 'mainapp:new:home' %}?customer={{ customer.id }}">{{ customer.first_name }}</a>
                                </td>
                                <td class="product-name"><a
                                        href="{% url 'mainapp:new:home' %}?customer={{ customer.id }}">{{ customer.surname|default:"-" }}</a>
                                </td>
                                <td class="product-category">{{ customer.street|default:"-" }}</td>
                                <td class="product-category">{{ customer.postcode|default:"-" }}</td>
                                <td class="product-category">{{ customer.place|default:"-" }}</td>
                                <td class="product-category">{{ customer.email|default:"-" }}</td>
                                <td class="product-price">{{ customer.phone|default:"-" }}</td>
                                <td class="product-price">{{ customer.birthday|default:"-" }}</td>
                                <td class="product-action">
                                    <a href="{% url 'mainapp:new:edit_customer' pk=customer.id %}"><span><i
                                            class="feather icon-edit"></i></span></a>
                                    {#                                    <span class="action-delete"><i class="feather icon-trash"></i></span>#}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- DataTable ends -->

                <!-- add new sidebar starts -->
                <form action="{% url 'mainapp:new:add_customer' %}" method="post">
                    {% csrf_token %}
                    <div class="add-new-data-sidebar">
                        <div class="overlay-bg"></div>
                        <div class="add-new-data">
                            <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                                <div>
                                    <h4 class="text-uppercase">{% trans 'Add New Customer' %}</h4>
                                </div>
                                <div class="hide-data-sidebar">
                                    <i class="feather icon-x"></i>
                                </div>
                            </div>
                            <div class="data-items pb-3">
                                <div class="data-fields px-2 mt-3">
                                    <div class="row">
                                        {% for field in customer_form %}
                                            <div class="col-sm-12 data-field-col">
                                                <label>{{ field.label }}</label>
                                                {{ field }}
                                                {% if field.errors %}
                                                    Error: {{ field.errors }}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
                                <div class="add-data-btn">
                                    <button class="btn btn-primary">{% trans 'Submit' %}</button>
                                </div>
                                <div class="cancel-data-btn">
                                    <button class="btn btn-outline-danger">{% trans 'Cancel' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <!-- Data list view end -->

        </div>
    </div>
{% endblock %}

{% block pagevendorjs %}
    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'app-assets/vendors/js/extensions/dropzone.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.select.min.js' %}"></script>
    <!-- END: Page Vendor JS-->
{% endblock %}

{% block pagejs %}
    <script src="{% static 'app-assets/js/scripts/ui/data-list-view.js' %}"></script>
{% endblock %}
