{% load static %}
{% load i18n %}

<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="#">
{#                    <div class="brand-logo"></div>#}
                    <div class="brand-text mb-0">Energiewerke</div>&nbsp;
                    <div class="brand-text mb-0">Bayern</div>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="{% url 'mainapp:new:home' %}"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a>
            <li class=" navigation-header"><span><hr/></span>
            </li>
            <li><a href="{% url 'mainapp:new:list_purchase' %}"><i class="feather icon-briefcase"></i><span class="menu-item" data-i18n="Purchase">{% trans 'Purchase' %}</span></a>
            </li>
            <li><a href="{% url 'mainapp:new:search' %}"><i class="feather icon-users"></i><span class="menu-title" data-i18n="Customer">{% trans 'Customer' %}</span></a>
            </li>
            <li>
                {% if user.is_staff %}
                    <a href="{% url 'mainapp:new:list_manager' %}">
                {% else %}
                    <a href="#">
                {% endif %}
                    <i class="feather icon-user"></i><span class="menu-title" data-i18n="Manager">{% trans 'Manager' %}</span>
                </a>
            </li>
            <li><a href="{% url 'mainapp:new:list_mechanic' %}"><i class="feather icon-user-check"></i><span class="menu-title" data-i18n="Mechanic">{% trans 'Mechanic' %}</span></a>
            </li>
            <li><a href="{% url 'mainapp:new:list_reseller' %}"><i class="feather icon-truck"></i><span class="menu-title" data-i18n="Reseller">{% trans 'Reseller' %}</span></a>
            </li>

            <li class=" navigation-header"><span>Apps</span>
            </li>
            <li class=" nav-item">
                <a href="{% url 'mainapp:new:chat:index' %}"><i class="feather icon-message-square"></i>
                    <span class="menu-title" data-i18n="Chat">{% trans 'Chat' %}</span>
                    <span class="badge badge badge-primary badge-pill float-right mr-2 chat-badge"></span>
                </a>
            </li>
            <li class=" nav-item"><a href="{% url 'mainapp:new:open_task_list' %}"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Tasks">{% trans 'Tasks' %}</span></a>
            </li>
            {% if customer %}
                <li class=" nav-item"><a href="{% url 'mainapp:new:add_call_notes' customer_id=customer.id %}"><i class="feather icon-file-text"></i><span class="menu-title" data-i18n="Call Notice">{% trans 'Call Notice' %}</span></a></li>
            {% endif %}
            <li class=" nav-item"><a href="{% url 'mainapp:new:calendar' %}"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Calender">{% trans 'Calendar' %}</span></a>
            </li>
            <li class=" nav-item"><a href="{% url 'mainapp:new:attachment_type' %}"><i class="feather icon-settings"></i><span class="menu-title" data-i18n="Settings">{% trans 'Settings' %}</span></a>
            </li>

            <li class=" navigation-header"><span>{% trans 'Support' %}</span>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-email"></i><span title="info@desativ-tech.de">info@desativ-tech.de</span></a>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-phone"></i><span class="menu-title" data-i18n="Raise Support">+49 89 2000 12 70</span></a>
            </li>
            <li class=" nav-item"><a href="http://www.desativ-tech.de"><i class="feather icon-globe"></i><span title="www.desativ-tech.de">www.desativ-tech.de</span></a>
            </li>
        </ul>
    </div>
</div>
<!-- END: Main Menu-->
