{% extends 'base/index.html' %}

{% load static %}
{% load i18n %}

{% block vendorcss %}
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    <!-- END: Vendor CSS-->
{% endblock %}

{% block pagecss %}

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
    <!-- END: Page CSS-->

{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Column selectors with Export Options and print table -->
            <section id="column-selectors">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">{% trans 'Purchase' %}</h4>
                                <div class="dt-buttons btn-group">
                                    <a href="{% url 'mainapp:new:add_purchase' %}">
                                        <button class="btn btn-outline-primary" tabindex="0"><span><i class="feather icon-plus"></i> {% trans 'Add New' %}</span></button>
                                    </a>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body card-dashboard">
                                    <div class="table-responsive">
                                        <table class="table table-striped dataex-html5-selectors">
                                            <thead>
                                                <tr>
                                                    <th>{% trans 'Customer' %}</th>
                                                    <th>{% trans 'OFFER DATE' %}</th>
                                                    <th>{% trans 'RESELLER'  %}</th>
                                                    <th>{% trans 'MODULE COUNT'  %}</th>
                                                    <th>{% trans 'WATT' %}</th>
                                                    <th>{% trans 'WITH BATTERY' %} + KW/H</th>
                                                    <th>{% trans 'KWP' %}</th>
                                                    <th>{% trans 'EXTRA DETAILS' %}</th>
                                                    <th>{% trans 'CREATED' %}</th>
                                                    <th>{% trans 'PRICE' %}</th>
{#                                                    <th>{% trans 'DELIVERY DATE' %}</th>#}
                                                    <th>{% trans 'DC-T' %}</th>
                                                    <th>{% trans 'DC-M' %}</th>
                                                    <th>{% trans 'AC-T' %}</th>
                                                    <th>{% trans 'AC-M' %}</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for obj in object_list %}
                                                    <tr>
                                                        <td>{{ obj.customer|default:"-" }} (id={{ obj.customer.id }})</td>
                                                        <td>{{ obj.offer_date|default:"-" }}</td>
                                                        <td>{{ obj.reseller_name|default:"-" }}</td>
                                                        <td>{{ obj.module_count|default:"-" }}</td>
                                                        <td>{{ obj.watt|default:"-" }}</td>
                                                        <td>
                                                            {% if obj.with_battery %}
                                                                Ja + {{ obj.kwh|default:"-" }}
                                                            {% else %}
                                                                Nein + {{ obj.kwh2|default:"-" }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ obj.kwp|default:"-" }}</td>
                                                        <td style="width: 250px;">{{ obj.extra_details|default:"-" }}</td>
                                                        <td>{{ obj.created_at|date|default:"-" }}</td>
                                                        <td>{{ obj.price_with_tax|default:"-" }}</td>
{#                                                        <td>{{ obj.delivery_date|default:"-" }}</td>#}
                                                        <td>{{ obj.dc_term|default:"-" }}</td>
                                                        <td>{{ obj.dc_mechanic|default:"-" }}</td>
                                                        <td>{{ obj.ac_term|default:"-" }}</td>
                                                        <td>{{ obj.ac_mechanic|default:"-" }}</td>
                                                        <td>
                                                            <a href="{% url 'mainapp:new:edit_purchase' pk=obj.id %}" class=""><i class="feather icon-edit-1"></i> <span> </span></a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'mainapp:delete_purchase' pk=obj.id %}" class=""><i class="feather icon-trash-2 danger"></i> <span> </span></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>{% trans 'Customer' %}</th>
                                                    <th>{% trans 'OFFER DATE' %}</th>
                                                    <th>{% trans 'RESELLER'  %}</th>
                                                    <th>{% trans 'MODULE COUNT'  %}</th>
                                                    <th>{% trans 'WATT' %}</th>
                                                    <th>{% trans 'WITH BATTERY' %} + KW/H</th>
                                                    <th>{% trans 'KWP' %}</th>
                                                    <th>{% trans 'EXTRA DETAILS' %}</th>
                                                    <th>{% trans 'CREATED' %}</th>
                                                    <th>{% trans 'PRICE' %}</th>
{#                                                    <th>{% trans 'DELIVERY DATE' %}</th>#}
                                                    <th>{% trans 'DC-T' %}</th>
                                                    <th>{% trans 'DC-M' %}</th>
                                                    <th>{% trans 'AC-T' %}</th>
                                                    <th>{% trans 'AC-M' %}</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Column selectors with Export Options and print table -->
        </div>
    </div>
{% endblock %}

{% block pagevendorjs %}
    <script src="{% static 'app-assets/vendors/js/tables/datatable/pdfmake.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/vfs_fonts.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/buttons.html5.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/buttons.print.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block pagejs %}
    <script src="{% static 'app-assets/js/scripts/datatables/datatable.js' %}"></script>
{% endblock %}

{% block customjs %}
{% endblock %}
